.body-text {
	margin-left: 100px;
	margin-right: 100px;
	font-family: 'gill sans', sans-serif;
}
h1 {
	font-size: 48px;
	font-family: "Poppins";
	text-align: center;
}
h3 {
	font-size: 16px;
	font-family: "Poppins";	
	font-weight: bold;
}
a:link:#nav-wrapper {
	color: #ff3333;
	text-decoration: none;
}

a:visited#nav-wrapper {
	color: #ff3333;
	text-decoration: none;
}

a:hover#nav-wrapper {
	color: #ff3333;
	text-decoration: underline;
}	

.bio1, .bio2 {
	display:none;
	width: 300px;
	position: relative;
	top: 180px;
	float: left;
}

#pic1 {
	width: 300px;
}

#pic2 {
	width: 300px;
	position: relative;
	left: 150px;
}

img {
	float: left;
}

div a {
    font-family: 'Montserrat', sans-serif;
}

nav ul li {
    text-align: center;
}

.title-logo {
    font-size: 20px;
    margin-left: 1%;
}

.title-image {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 9px;
    vertical-align: middle;
}

.nav-wrapper {
    margin-left: 40px;
    margin-right: 40px;
    position:fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-about {
    min-width: 250px;
}

#dropdown-explorations {
    min-width: 140px;
}

.dropdown-content li a {
    color: #079e0c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-button:hover > li {
    background-color: #f1f1f1
}