.body-text {
	float: left;
	margin-left: 100px;
	margin-right: 100px;
	font-family: 'gill sans', sans-serif;
	width: 500px;
	text-rendering: optimizeLegibility; 
}

body {
    font-family: 'Open Sans', sans-serif;
}

#main {
    padding-top: 100px;
}

.team {
	top: 100px;
	width: 1000px;
/*	margin-left: 100px;*/
	margin-right: 100px;
	margin-bottom: 125px;
}

.answer {
	left: 50px;
	background-color: #D3D3D3;
	padding: 15px;
	display: none;
}

#sliderFrame {
	float: right;
	position: relative;
	right: 50px;
	top: 0px;
	z-index: -1;
}

h1 {
	font-size: 48px;
	font-family: "Open Sans";
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-family: "Open Sans";	
	
}
a:link:#nav_bar {
	color: #ff3333;
	text-decoration: none;
}

a:visited#nav_bar {
	color: #ff3333;
	text-decoration: none;
}

a:hover#nav_bar {
	color: #ff3333;
	text-decoration: underline;
}	

.bio1 {
	display:none;
	width: 350px;
	/*position: relative;*/
	top: 100px;
	left: -100px;
	float: left;
}

.bio2 {
	display:none;
	width: 250px;
	/*position: relative;*/
	top: 100px;
	left: -100px;
	float: left;
}

.bio3 {
	display:none;
	width: 250px;
	/*position: relative;*/
	top: 100px;
	left: -100px;
	float: left;
}

.team1 {
	width: 150px;
}

.team2 {
	width: 550px;
	/*position: relative;*/
	left: 150px;
}

.team3 {
	width: 800px;
	/*position: relative;*/
	left: 300px;
	margin-left: 10px;
}


img {
	float: left;
}

div a {
    font-family: 'Montserrat', sans-serif;
}

/* IMPORTANT 
Put rest of page in div with id="main"
This pads the rest of the page below the navbar */ 

#main {
    padding-top: 100px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR STYLING */
nav ul li {
    text-align: center;
}

#heading {
    margin-top: 0;
    box-sizing: border-box;
    font-size: 38pt;
    padding-top: 5px;
    background-color: white;
}

#pom {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10pt;
}

#logo{
    font-family: 'Arima Madurai', cursive;
    font-size: 30pt;
}

.title-logo {
    font-size: 20px;
    margin-left: 1%;
}

.title-image {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 9px;
    vertical-align: middle;
}

#nav_bar {
    position:fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-about {
    min-width: 250px;
}

#dropdown-explorations {
    min-width: 140px;
}

.dropdown-content li a {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { 
    background-color: #ffe900
}

.dropdown:hover .dropdown-content {
    display: block;
}