body {
  font-size: 14pt;
}

.hittable {
  position: absolute;
  float: left;
  /*animation-name: fall;*/
  animation-duration: 2s;
  /*-webkit-animation-name: fall;*/
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards;
  top: 30px;
}

@-webkit-keyframes fall {
    to {top: 400px;}
}

.container {
  align-content: space-between;
}

.slope {
  text-align: center;
  width: 50px;
}

.col-md-1 {
  display: flex;
  justify-content: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
   display: flex;
   flex-direction: column;
}

.buttons {
  justify-content: center;
}

[class*='col-'] {
  padding: 20px;
}

button {
  width: 100px;
  min-height: 85px;
  padding: 15px; /* padding for the text inside the box */
  margin: 10px; /* margin between button and other objects */
  border-radius: 10px; /* rounded edges */ 
  border-width: 0px;
  background-color: yellow;
  font-size: 12pt;
}

button:hover {
  background-color: red;
  color: white;
}

#resetCurrent {
  float: left;
}

#

#eq {
  margin-top: 0px; 
  margin-bottom: 0px;
}

#img0 {
  left: 200px;
}

#img1 {
  left: 400px;
}

#img2 {
  left: 400px;
}

#chart {
	position: relative;
	top: 40px;
}

#myCanvas {
  padding-left: 30px;
}

/* GRID STYLING */
[class*='col-'] {
  float: left;
}

.col-1-2 {
    width: 35%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
}

.col-2-2 {
    width: 65%;
    position: relative;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 30px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
