#main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 0 0 55px 0;
}

body,
html {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#buttons {
    width: 20%;
    /* padding: 15px; */
    width: 10;
    font-size: 14pt;
    float: left;
    margin: 0 auto;
    height: 100%;
}

.container2 {
    display: none;
    width: 85%;
    height: 85%;
    /*box-shadow: 0px 4px 5px rgba(0, 0, 0, .2);*/
}


.container {
    margin: 0 auto;
    /*background-color: white;*/
}

.container2 {
    animation: containerss 1s;
    transition: all 2s ease-in-out;
}

.container2-video {
    display: block;
    width: 95%;
    max-width: 1000px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .2);
    animation: containerss 1s;
    transition: all 2s ease-in-out;
}

.absolute-video-container {
    /*width: 80%;
    height: 100%;*/
    justify-content: center;
    align-items: center
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.left-arrow {
    left: 0;
    /*display: none;*/
    cursor: pointer;
}

.right-arrow {
    right: 0;
    cursor: pointer;
}

.right-arrow:hover {
    transform: translateX(-10px);
}

.left-arrow:hover {
    transform: translateX(10px)
}

.arrow {
    border-radius: 100px;
    padding: 2px 17px;
    background-color: #f14e32;
    z-index: 1000;
    top: 50%;
    /*transform: translateY(-50%);*/
    margin: auto;
    position: absolute;
    transition: all .3s;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.material-icons.md-48 {
    font-size: 48px;
    color: rgba(0, 0, 0, .5)
}

.runman {
    color: #65adef
}

.flag {
    color: #f1625b
}

.material-icons.md-36 {
    font-size: 38px;
}

#backHome-container {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #7d7979;
    font-size: 14px;
    transition: all .5s;
}

#backHome {
    top: 27px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: block;
    background-image: url("https://i.imgur.com/1rUjP5K.png");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .3);
    float: left;
}

#backHome-container:hover {
    transform: scale(1.07);
    /*box-shadow: 0 4px 10px 1px rgba(0, 0, 0, .2);*/
}

@keyframes containerss {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/*METER*/
.progress-,
.progress-tooltip,
.progress-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.progress- {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90px;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: #f5f5f5;
    border-top: 1px solid #e8e8e8;
}

.progress-tooltip {
    width: 70%;
    height: 35px;
    align-items: flex-end;
    margin-bottom: 5px;
    max-width: 650px
}

.progress-indicator {
    /*background-color: grey;*/
    height: 55px;
    z-index: 1000000;
    align-items: flex-start;
}

.progress-tooltip ul {
    display: inline-block;
    width: 100%;
    list-style-type: none;
    font-size: 0;
}

.progress-tooltip ul li {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 20%;
    display: inline-block;
    font-size: 12pt;
}

.progress-tooltip ul li div {
    width: 60%;
    display: block;
    margin: 0 auto;
    transition: all .3s;
    position: relative;
    cursor: pointer;
}

.progress-tooltip ul li div .material-icons {
    vertical-align: middle;
}

.red-color {
    color: #9f16e0;
}

.yellow-color {
    color: #d0a706;
}

.progress-tooltip ul li div:hover {
    transform: scale(1.09);
}

.progress-tooltip ul li div span {
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    width: 120px;
    background-color: #f9c910;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 10000000;
    /* Use half of the width (120/2 = 60), to center the tooltip */
    box-sizing: border-box;
    padding: 5px;
}

.progress-tooltip ul li div span::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f9c910 transparent transparent transparent;
}

.progress-tooltip ul li div:hover span {
    visibility: visible
}

#scroll-wrap {
    width: 80%;
    max-width: 650px;
    /*margin: 0 auto;*/
}

.meter {
    height: 35px;
    /* Can be anything */
    position: relative;
    /*margin: 20px 0 20px 0;*/
    /* Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    /*padding: 10px;*/
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}

.meter>span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43, 194, 83)), color-stop(1, rgb(84, 240, 84)));
    background-image: -moz-linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    border-radius: 100px;
}

.meter>span:after,
.animate>span>span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.animate>span:after {
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}


/*.orange > span {
  background-color: rgb(56, 162, 238);
}*/

.orange {
    background: #555;
}

.nostripes>span>span,
.nostripes>span:after {
    -webkit-animation: none;
    background-image: none;
    rgb(56,
    162,
    238)
}

#slide {
    display: inline-block;
    display: none;
    animation: containerss 1s;
    transition: all 2s ease-in-out;
}

.placeholder {
    display: block;
    height: 85%;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: grey;
    vertical-align: middle;
    animation:
}