.hittable {
  position: absolute;
  float: left;
  /*animation-name: fall;*/
  animation-duration: 2s;
  /*-webkit-animation-name: fall;*/
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fall {
    from {top: 0px;}
    to {top: 400px;}
}

@-webkit-keyframes fall-half {
    from {top: 200px;}
    to {top: 400px;}
}

#img0 {
  left: 200px;
}

#img1 {
  left: 400px;
}

#img2 {
  left: 400px;
}

#chart {
	position: relative;
	top: 40px;
}

#myCanvas {
  padding-left: 30px;
}

/* GRID STYLING */
[class*='col-'] {
  float: left;
}

.col-1-2 {
    width: 35%;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 30px;
}

.col-2-2 {
    width: 65%;
    position: relative;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 30px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
