body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-family: "Open Sans";
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

#header {
    position: relative;
    float: left;
    margin-left: -225px;
    top: 35px;
}

/* GRID STYLING */
[class*='col-'] {
    float: left;
}

#main > .col-1-2 {
    width: 35%;
    padding-right: 20px;
}

#main > .col-2-2 {
    width: 65%;
    position: relative;
    padding-left: 20px;
}

.col-1-3,
.col-2-3,
.col-3-3 {
    width: 33%;
    position: relative;
    float: left;
}

.col-1-3,
.col-2-3 {
    padding-right: 20px;
}

.col-2-3,
.col-3-3 {
    padding-left: 20px;
}

/* arrows */
.left-arrows {
    left: 0;
    cursor: pointer;
}

.right-arrows {
    right: 0;
    cursor: pointer;
}

.right-arrows:hover {
    transform: translateX(-10px);
}

.left-arrows:hover {
    transform: translateX(10px)
}

.arrows {
    color: rgba(0, 0, 0, .7);
    top: 50%;
    border-radius: 100px;
    padding: 2px 17px;
    background-color: #f14e32;
    z-index: 1000;
    /*transform: translateY(-50%);*/
    margin: auto;
    position: absolute;
    transition: all .3s;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

body !#nav_bar{
    padding-left: 50px;
    padding-right: 50px;
}

#main {
    padding-top: 150px
}

#main a {
    color: #da3b2f;
    font-weight: 600;
}

#main a::after {
    font-family: 'Material Icons';
    content: '\E63A';
    font-size: 14pt;
    margin-left: 5px;
    color: #e46056;
    vertical-align: sub
}

#desmosP a::after {
    content: '\E879';
}

#ext_sources h2 a {
    vertical-align: sub
}

#external h3 a:after {
    display: none;
}

#external {
    /*padding: 10px 0 300px 0;*/
}

#external img {
    border-radius: 5px
}

#external-header {
    margin-bottom: 20px;
}

.col-1-2 {
    width: 35%;
    padding: 5px 30px;
}

.col-2-2 {
    padding: 0px 50px;
}

.left-arrows {
    left: 50px
}

.right-arrows {
    right: 50px
}

.arrows::after,
.arrows::before {
    display: none;
}

#sliderFrame a {
    line-height: 0;
    color: rgba(0, 0, 0, .7);
}

.bio1,
.bio2,
.bio3 {
    display: none;
    background-color: #ffe900;
    /*box-sizing: border-box;*/
    padding: 20px 19px;
    border-radius: 8px;
    /*float: left;*/
    margin: 20 auto;
    max-width: 70%;
}