@import url('about.css');
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 48px;
    font-family: "Open Sans";
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

#header {
    position: relative;
    float: left;
    margin-left: -225px;
    top: 35px;
}


/*#main {
    width: 100%;
    max-width: 900px;
    margin: 70px auto;
}*/

#sliderFrame {}


/* NAVBAR STYLING */

nav ul li {
    text-align: center;
}

.title-logo {
    font-size: 20px;
    margin-left: 1%;
}

.title-image {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 9px;
    vertical-align: middle;
}


/* NAVBAR STYLING */

nav ul li {
    text-align: center;
}

.nav-wrapper {
    font-family: "Open Sans";
}

#heading {
    margin-top: 0;
    box-sizing: border-box;
    font-size: 38pt;
    padding-top: 5px;
    background-color: white;
}

#pom {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10pt;
}

#logo {
    font-family: 'Arima Madurai', cursive;
    font-size: 30pt;
}

.title-logo {
    font-size: 20px;
    margin-left: 1%;
}

.title-image {
    width: 50px;
    height: 50px;
    margin-left: 12px;
    margin-bottom: 9px;
    vertical-align: middle;
}

.nav-wrapper {
    margin-left: 40px;
    margin-right: 40px;
    position: fixed;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-about {
    min-width: 250px;
}

#dropdown-explorations {
    min-width: 140px;
}

.dropdown-content li a {
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffe900
}

.dropdown:hover .dropdown-content {
    display: block;
}

#main {
    padding-top: 150px
}

#main a {
    color: #da3b2f;
    font-weight: 600;
}

#main a::after {
    font-family: 'Material Icons';
    content: '\E63A';
    font-size: 14pt;
    margin-left: 5px;
    color: #e46056;
    vertical-align: sub
}

#desmosP a::after {
    content: '\E879';
}

#ext_sources h2 a {
    vertical-align: sub
}

#team h3 a:after {
    display: none;
}

#team {
    padding: 10px 0 300px 0;
}

#team img {
    border-radius: 5px
}

#team-header {
    margin-bottom: 20px;
}

.bio1,
.bio2,
.bio3 {
    background-color: #ffe900;
    padding: 10px 19px;
    margin-top: 20px;
    border-radius: 8px;
}

.col-1-2 {
    width: 35%;
    padding: 5px 30px;
}

.col-2-2 {
    padding: 0px 50px;
}

.left-arrows {
    left: 50px
}

.right-arrows {
    right: 50px
}

.arrows::after,
.arrows::before {
    display: none;
}

#sliderFrame a {
    line-height: 0;
    color: rgba(0, 0, 0, .7);
}